<h1>Editing event</h1>

<%= error_messages_for :event %>

<% form_for(@event) do |f| %>
  <p>
    <b>Artist</b><br />
    <%= f.text_field :artist %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Price from</b><br />
    <%= f.text_field :price_low %>
  </p>

  <p>
    <b>To</b><br />
    <%= f.text_field :price_high %>
  </p>

  <p>
    <b>Date</b><br />
    <%= f.date_select :event_date %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
